body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}

.container {
    text-align: right;
    margin-left: 50%;
    transform: translate(-50%);
}

.column {
    float: left;
    width: 40%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.temperature-input-wrapper {
    text-align: center;
    margin-top: 30px;
}

.temperature-input-wrapper  input {
    height: 25px;
    padding: 0 10px;
}

button {
    height: 29px;
    padding: 0 10px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
